$img-size: 30px;
$icon-width: 36%;
$img-margin: $img-size + 15px;

.tracks {
  // margin-top: 10%;
  background-color: #282828;
  // width: 50%;
  display: grid;
  row-gap: 7px;
  padding: 50px;
  padding-top: 15px;
  border-radius: 10vh;

  img {
    width: $img-size;
    height: $img-size;
    margin-left: 15px;
  }

  * {
    font-weight: 500;
  }
}
.tracks_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr) $img-margin;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span:nth-child(2) {
    background-color: #454545;
    border-radius: 20px;
    height: 75%;
    font-size: 24px;
  }

  img {
    width: 50px;
    height: 50px;
    margin: 0;
    // padding-right: 100px;
  }
}

.track {
  display: grid;
  // gap: 100px;
  grid-template-columns: repeat(3, 1fr) $img-margin;
  align-items: center;
  // column-gap: 10px;
}

.twin {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.twin {
  span:nth-child(2) {
    color: #ACACAC;
  }
}
.twin:nth-child(2) {
  align-items: center;
}

.burger {
  // background-color: red;
  display: flex;
  flex-direction: column;
  // width: 120px;

  // height: 400px;
  position: absolute;
  margin-left: $img-margin + 10px;
  // margin-left: $img-margin;


  button {
    border: none;
    color: white;
    font-size: 25px;
    // background-color: var(--sportify-color);
  }
  button:nth-child(2) {
    background-color: var(--sportify-color);
  }
  button:nth-child(3) {
    background-color: var(--change-color);
  }
  button:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--gray-font-color);
  }
  button:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--delete-color);
  }
}

.cross {
  display: inline-block;
  padding-right: $img-margin;
  img {
    transition: 0.2s ease-in-out;
  }
  span {
    display: inline-block;
    height: $img-size;
    padding-right: $img-margin;
  }


}
.cross:hover {
  img {
    transform: rotate(90deg);
  }
}