@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --bg_color: #1E1E1E;
    --fo_color: white;
    --sportify-color: #1DB954;
    --change-color: #FFAE00;
    --delete-color: #E20000;
    --gray-font-color: #ACACAC;
    --modal_back: #282828;
}
#root {
    height: 100%;
}
body {
    // width: 100vw;
    // height: 100vh;
    height: 100vh;
    margin: 0px;
    background-color: var(--bg_color);
    color: var(--fo_color);
    display: flex;
    justify-content: center;
    // align-items: center;
    // background: linear-gradient(-45deg, #4158D0, #e560dc, #ffb374, #ef5f5f, #d840b6);
    // background-size: 400% 400%;
    // animation: bg 12s ease infinite;
    // @keyframes bg {
    //     0% {
    //         background-position: 0% 50%;
    //     }
    //     50% {
    //         background-position: 100% 100%;
    //     }
    //     100% {
    //         background-position: 0% 50%;
    //     }
    // }
}

header {
    // position: fixed;
    // position: absolute;
    // top: 0;
    font-size: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;

    img {
        width: 40px;
        height: 40px;
        margin-left: 7px;
        margin-right: 7px;
    }
}

a {
    color: white;
    text-decoration: none;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

button {
    cursor: pointer;
}