$button-width: 143px;

.burger {
  display: flex;
  flex-direction: column;
  transition: 1s linear;

  position: absolute;
  padding-right: 10px;
  margin-left: -$button-width + 5px;


  button {
    border: none;
    color: white;
    font-size: 24px;
    width: $button-width;

    &:nth-child(2) {
      background-color: var(--sportify-color);
    }
    &:nth-child(3) {
      background-color: var(--change-color);
    }
    &:first-child {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      background-color: var(--gray-font-color);
    }
    &:last-child {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: var(--delete-color);
    }
  }

  &__cross {
    display: inline-block;
    img {
      transition: 0.2s ease-in-out;
    }
    span {
      display: inline-block;
      height: var(--img-size);
    }
    &:hover {
      img {
        transform: rotate(90deg);
      }
    }
  }
}