@use "./data.module.scss" as data;

.container {
  // background-color: red;
  display: flex;
  row-gap: 100px;
  align-items: center;
  flex-direction: column;
}
.button {
  @extend .button;
  width: 50%;
  // color: black;
}
// .container:nth-child(2) {
//   // margin-top: 100px;
//   background-color: blue;
// }