@use "sass:list";
@use "./_button.scss";

$border_radius: 50px;

.main {
  // background-color: red;
  // width: 71.8vw;
  width: 74vw;
  display: grid;
  column-gap: 5px;
  row-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
  background-color: var(--bg_color);
  // height: 100%;
}
.playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    width: var(--playlist_width);
    height: 340px;

  &__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 218px;
    width: var(--playlist_width);
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 64px;
    border-radius: $border_radius;
    overflow: hidden;
  }
}

.button__open {
  @extend .button
}
.added {
  // background-color: red;
  display: flex;
  justify-content: space-between;
  width: 100%;
  // align-items: center;
  // justify-content: space-between;
  
  .button {
    background-color: var(--change-color);
    font-size: 25px;
    width: calc(var(--playlist_width) / 2.04);
  }
}

$colors: 
  linear-gradient(45deg, rgba(255,0,0,1) 10%, rgba(255,255,0,1) 100%), 
  linear-gradient(45deg, rgba(0,255,60,1) 0%, rgba(0,102,255,1) 100%), 
  linear-gradient(45deg, rgba(0,208,255,1) 0%, rgba(255,0,230,1) 100%);
  // linear-gradient(225deg, rgba(0,208,255,1) 0%, rgba(255,0,230,1) 100%), 
  // linear-gradient(225deg, rgba(0,255,60,1) 0%, rgba(0,102,255,1) 100%), 
  // linear-gradient(225deg, rgba(255,255,0,1) 10%, rgba(255,0,0,1) 100%);

@for $i from 1 through list.length($colors) {
  .playlist:nth-child(3n + #{$i}) .playlist__cover {
    background: list.nth($colors, $i);
  }
}

$colors_button:
  #FFA628,
  #00C8B7,
  #A416F6;
  // #A416F6,
  // #00C8B7,
  // #FFA628;

@for $i from 1 through list.length($colors_button) {
  .playlist:nth-child(3n + #{$i}) .button__open {
    background-color: list.nth($colors_button, $i);
  }
}