$icon-width: 36%;

.tracks {
  // margin-top: 10%;
  background-color: var(--modal_back);
  // width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  row-gap: 7px;
  padding: 25px;
  padding-top: 15px;
  border-radius: 50px;

  img {
    width: var(--img-size);
    height: var(--img-size);
    margin-left: 15px;
  }

  * {
    font-weight: 500;
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr) var(--img-margin);
    align-items: center;
  
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span:nth-child(2) {
      background-color: #454545;
      border-radius: 20px;
      height: 75%;
      font-size: 24px;
    }
  
    img {
      width: 50px;
      height: 50px;
      margin: 0;
      // padding-right: 100px;
    }
  }

  &__track {
    display: grid;
    grid-template-rows: minmax(42px, 100%);
    // gap: 100px;
    grid-template-columns: 1fr 0.3fr 1fr var(--img-margin);
    align-items: center;
    // column-gap: 10px;

    &__change {
      @extend .tracks__track;
      column-gap: 5px;
      grid-template-columns: 60% 1fr 1fr;
    }

    &__sim_event {
      @extend .tracks__track;

      .tracks__track__twin {
        color: rgb(255, 0, 0);
    
        span:nth-child(2) {
          color: rgb(209, 0, 0);
        }
      }
    }
    &__twin {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    
      span:nth-child(2) {
        color: #ACACAC;
      }

      &:nth-child(2) {
        align-items: center;
      }
    }
  }
}